.i-need-help-xsml {
	background:url(../images/icon/need-help-sml.png) no-repeat;
	background-size:16px 16px;
	height:16px;
	width:16px;
}

.i-shield-sml {
	background:url(../images/icon/shield.png) no-repeat;
	background-size:23px 23px;
	height:23px;
	width:23px;
}

.i-shield-xsml{
	background:url(../images/icon/shield.png) no-repeat;
	background-size:16px 16px;
	height:16px;
	width:16px;
}

.clear-padding{
	padding:0;
}

.activity-title1{
	padding: 0 0 0 11px;
	font: 42px/1.125 VodafoneRegular;
	color: #e60000

}

.activity-title2{
	padding: 10px 0 0 8px;
	font: 26px/1.125 VodafoneRegular;
	color: #e60000

}

.changes-VIP-text1{
	padding: 0 0 0 2px;
	font: 22px/1.125 VodafoneRegular;
}

.changes-VIP-text2{
	padding: 0 0 0 2px;
	font: 1.5em/1.125 VodafoneRegular;
}

.vf-vip{
	padding: 4px 2px 2px 2px;
}

.btn-filter{
	width: 150px;
	float:right;
}

.view-services{
	float:right;
	padding: 0;
}

<<<<<<< HEAD
.activity-col{
	float: left;

}

.sml-button-rgt{
	position:absolute;
	right:20px;
	margin-top: 5px;
	
=======
.activity-box{
	background-image:linear-gradient(#EDEDED,#ffffff);
    border-radius: 6px 6px 6px 6px;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 10px 15px;
>>>>>>> 6d3a1126c770cea56d77fe19e5cd30fc6afb2a18
}